@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

*{scroll-behavior: smooth;}

body {
  font-family: system-ui, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

* {
  box-sizing: border-box;
}
